/*main website style*/
/*eliminates default margins */
body{
	margin: 0;
  padding: 0;
}

@media (min-width: 858px) {
    .line-paragraph {
        font-size: 12px;
    }
}

.main-header{
  background-color: black;
  
  background: linear-gradient( rgba(0, 0, 0, .55), rgba(0, 0, 0, .55) ), url("./images/space.jpg") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
  padding-bottom:1%;

  height:auto;
   animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

/*makes the icons above white*/
.topnav img{
  -webkit-filter: invert(100%);
  width:5vw;
}
/*the header background size and color*/
.topnav{
  padding-left:8%;
  padding-right:8%;
  padding-top:1%;
	overflow: hidden;
}

/*the header links*/
.topnav a {
  color: white;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
}

/*Hovering over the header links*/
.topnav a:hover {
  background-color: rgb(2, 137, 226);
}

/*The color of the header link left*/
.topnav a.active {
	float: left;
	color: white;
	font-family: 'Staatliches', cursive;
  border-radius:1%;
  padding:14px 16px;
}

.topnav-right {
  float: right;
  padding-top:1%;
}
.topnav-right img {
  width:2.3vw;
}


.image-header{
  padding-top:1%;
  padding-bottom:5%;
  margin-left:25%;
  margin-right:25%;
}
.image-header img{
  float:top;
  text-align:center;
  border-radius: 100%;
  animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

.Header-summary{
	color:white;
  font-size:6vw;

  padding-top:20%;
  margin-top:0;
  margin-bottom:0;
  vertical-align: center;
  text-align:center;

  font-family: 'Staatliches', sans-serif;
  /*text-shadow: 4px 4px 4px #aaa;*/
}

.Header-summary:hover {
  animation: bounce 1s;
}

/*This is for fade in on startup*/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.Header-summary-2{
  color: white;
  padding-bottom: 25%;
  font-size: 2vw;
  text-align:center;
    font-family: 'Staatliches', sans-serif;
}
.Header-summary-2:hover {
    animation: bounce 0.75s; 
}

.jumplinks {
  margin-top:0;
  color: white;
    font-size: 11px;
  text-align:center;

  word-spacing: 8rem;


  padding-bottom:2%;
    font-family: 'Staatliches', sans-serif;
     animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
}
.jumplinks a:link, a:visited {
  color: white;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: rgb(2, 137, 226);

}

.jumplinks a:hover, a:active {
  
  background-color: rgb(2, 137, 150);
  animation: bounce 1s;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}


.about {
  /* The image used */
  background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5) ), url("./images/unforseen pic.jpg") no-repeat center center fixed;
  /* Full height */
  background-size: contain;
  padding-bottom:10%;

}


.projects {
  /* The image used */
  background: linear-gradient( rgba(0, 0, 0, .8), rgba(0, 0, 0, .8) ), url("./images/trio.jpg") no-repeat center center fixed;
  /* Full height */
  padding-bottom:20%;
  background-size: cover;
}
.layout_left {
  padding-top:2%;
  padding-left:7%;
  padding-right:7%;
  padding-bottom:5%;
  text-align:center;
  overflow: auto;
  color: white;
    font-family: 'Staatliches', sans-serif;
}
.layout_left img{
  float:left;
  padding-left:11%;
}
.margins_of_content_left{
  margin-right:1%;
  margin-left:1%;
}
.margins_of_content_left h2{
  padding-top:2%;
  font-size: 35px;
  margin-left:5%;
  font-weight: lighter;
}
.description_left{
  margin-left:37%;
  margin-right:8%;
  font-weight: lighter;
}


/*///////////////////////////////////////////////////////////////////////////music ///////////////////////////////////////////////////////////////////////////////*/
.music {
  /* The image used */
  background: linear-gradient( rgba(0, 0, 0, .8), rgba(0, 0, 0, .8) ), url("./images/theproject.jpg") fixed;

  /* Full height */
  padding-bottom:5%;
  background-repeat:no-repeat;theprojet
background-size:cover;
background-position:center;
}
/*overlay effect on icons*/
.container{
  position: relative;
}

.image{
  display:block;
  width:100%;
  height:auto;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(0, 1, 2);

}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 1.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.photo-grid{
  padding-top:2%;
  padding-bottom:0%;
  margin:auto;
  padding-left:17%;
}

/*icon menu*/
.photo-grid img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 1%;
}
.column img {
    margin-top: 2%;
    vertical-align: middle;
}

/*FIXME: adding this makes the photos bleed*/;
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
/*//////////////////////////////////////////////////////////////////////////end of music////////////////////////////////////////////////////////////////////////////*/





/*////////////////////////////////////////actvitives/////////////////////////////////////////////////////////*/
.activities {
  /* The image used */
  background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5) ), url("./images/seouljuice.jpg") no-repeat center center fixed;
  /* Full height */
  height: 100%; 
  background-size: cover;
}
/*////////////////////////////////////////ENd of activities///////////////////////////////////////////////////////*/






/*////////////////////////////////////////////////RESUME////////////////////////////////////////////*/
.resume {
  /* The image used */
  background: linear-gradient( rgba(0, 0, 0, .1), rgba(0, 0, 0, .1) ) no-repeat center center;
  /* Full height */
  height: 100%; 
  background-size: contain;
  font-size:17px;
  padding-top:10%;
  padding-left:9%;
  font-color: navy;
}
.resume a:link, a:visited{
  color: white;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: rgb(2, 137, 226);
}
.resume a:hover {
   animation: bounce 1s;
}
/*///////////////////////////////////////////////resume end/////////////////////////////////////////////*/






/*//////////////////////////////////////////////////THANK YOU CONTACT BOTTOM////////////////////////////////////////////////*/
.thankyou {
  background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url("https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-Dark-Floral-Wallpaper-HD-Free-Download-PIC-WPB0010719.jpg") no-repeat center center ;
  padding-top:3%;
  padding-bottom:3%;

}
.Header-summary-3{
  color: white;
  font-size: 3vw;
  text-align:center;
  font-weight: lighter;
  font-family: 'Staatliches', sans-serif;
}
.Header-summary-4{
  color: white;
  font-size: 1.7vw;
  padding-top:2%;
  text-align:center;
  font-family: 'Staatliches', sans-serif;
 padding-bottom:2%;
 font-weight: lighter;
}
.Header-summary-5{
  padding-top:3%;
  color: white;
  font-size: 1.4vw;
  text-align:center;
  font-family: 'Staatliches', sans-serif;
  font-weight: lighter;
}
.contact-bar { /*FIXME: is there a better way to center the contact icons?*/
  text-align: center;
}
.contact-bar img {
  -webkit-filter: invert(100%);
  padding-left: 5%;
  padding-right: 5%;
  width:3vw;
}

/*the header links*/
.contact-bar a {
  color: white;
  color: #f2f2f2;
  padding: 3%;
  text-decoration: none;
}
.inline-block {
  display: inline-block;
  margin:0 0;
}

/*////////////////////////////////////////////END OF THANK YOU//////////////////////////////////////////////////*/

.line-title {
  padding-top:1%;
  margin-right: 35%;
  margin-left:35%;
}
.line-title-words {
  text-align:center;
  border-bottom: 3px solid #fff;
  line-height: 5rem;
  font-size: 40px;

  font-family: 'Staatliches', sans-serif ;
  color:white;

  font-weight: lighter;
}

h1 span {
  /*background: rgb(214, 147, 147);*/
  background-color: transparent;
  padding-right:2%;
  padding-left:2%;
  padding-bottom:0;
}
.line-paragraph {
  text-align:center;
  color:white;

  font-family: 'Staatliches', sans-serif ;
  font-size:18px;
  margin-left: 15%;
  margin-right: 15%;

  font-weight: lighter;
}

.line-paragraph2 {
  text-align:center;
  color:white;

  font-family: 'Staatliches', sans-serif ;
  font-size:18px;
  margin-left:26%;
  margin-right:26%;

  font-weight: lighter;
}
